*.ex5
*.dat

/*

!/Include
!/Indicators
!/Profiles

/Include/*
!/Include/Qunity

/Indicators/*
!/Indicators/Qunity

/Profiles/*
!/Profiles/Templates

/Profiles/Templates/*
!/Profiles/Templates/Qunity Trading System.tpl

!.gitignore
!logo.png
!README.md
